<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a href="http://github.com/smlovin2">Sean</a>. A lover of learning and having fun.
	</p>
	<br />
	<p>
		Former C++ developer at a CAD/CAM company, Sean is now determined to learn the valuable secrets of the web and become a successful web developer.
	</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'sean.jpg', :class => 'img-responsive' %>
	</div>

	<div class="colo-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Sean Lovinger</h2>
		<br />
		<p>
			Sean Lovinger is a BYU grad, who got his bachelors degree in electrical engineering and also minored in computer science. He interned at Sandia National Laboratories in Albuquerque NM. He most recently worked for 2 and a half years as a C++ developer at a CAD/CAM software company. He is now working to build his knowledge of web technologies in hopes of finding a new job as a web developer. He is also the proud husband and father of a beautiful wife and two amazing kids.
		</p>
	</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />